---
import { getCollection } from "astro:content";
import arrowLeft from "../assets/arrow-right.svg";

const work = await getCollection("work");
---

<div
  class="flex min-h-screen flex-col items-center justify-center gap-y-7 bg-black"
>
  <h2 class="letter-spacing-[10%] bg-white px-1 font-mono text-3xl">
    OUR WORK
  </h2>
  <div class="w-full">
    {
      work.map((item) => (
        <div
          class="relative flex h-[360px] w-full flex-col gap-y-3 bg-cover bg-center p-4"
          style={`background-image: url('/src/assets/our-work/${item.data.image}');`}
        >
          <h3 class="text-[38px] leading-[34px] font-light text-white">
            {item.data.title}
          </h3>
          <div class="flex max-w-[250px] flex-wrap gap-1">
            {item.data.tags.map((tag) => (
              <div class="flex items-center justify-center border border-white px-2 py-1.5">
                <span class="text-[10px] font-light tracking-wide text-white uppercase">
                  {tag}
                </span>
              </div>
            ))}
          </div>
          <div class="absolute right-4 bottom-3.5 left-4 flex justify-between">
            {item.data.links.includes("gallery") && (
              <div class="flex gap-x-2">
                <a
                  href="/"
                  class="font-mono text-lg leading-[18px] text-white uppercase"
                >
                  See
                  <br />
                  Gallery
                </a>
                <img class="h-8 w-8" src={arrowLeft.src} alt="Arrow Left" />
              </div>
            )}
            {item.data.links.includes("aftermovie") && (
              <div class="flex gap-x-2">
                <a
                  href="/"
                  class="font-mono text-lg leading-[18px] text-white uppercase"
                >
                  The
                  <br />
                  Aftermovie
                </a>
                <img class="h-8 w-8" src={arrowLeft.src} alt="Arrow Left" />
              </div>
            )}
            {item.data.links.includes("dj") && (
              <div class="flex gap-x-2">
                <a
                  href="/"
                  class="font-mono text-lg leading-[18px] text-white uppercase"
                >
                  Full
                  <br />
                  Dj Set
                </a>
                <img class="h-8 w-8" src={arrowLeft.src} alt="Arrow Left" />
              </div>
            )}
          </div>
        </div>
      ))
    }
  </div>
</div>
